main {
    background-color: rgb(242, 248, 255);
}
h1 {
    text-align: center;
}
.maintenanceTips {
    text-align: center;
    font-size: 24px;
}
.containerLeft {
    border: rgb(83, 124, 1) solid 4px;
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
}
.containerLeft_fishList_Box {
    border: solid yellow 4px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
}
.fishCardBox {
    display: block;
    margin: 5px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.fishCard {
    display: block;
    padding: 20px;
    margin: 5px;
    border: dotted 2px black;
    width: 300px;
}
.fishCard__name {
    font-size: 24px;
    border: dotted rgb(14, 51, 14) 2px;
    text-align: center;
}
.fish__Img {
    width: 200px;
    border-radius: 5px;
}
.containerRight {
    border: solid violet 4px;
    justify-content: end;
    flex-basis: 25%;
}
.contentContainer {
    display: flex;
    flex-direction: row;
}

.quoteCard {
    display: flex;
    border: solid #531379 4px;
    justify-content: end;
    flex-basis: 25%;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: rgb(42, 69, 78);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #c26c26;
}

@media all and (max-width: 800px) {
    .navigation {
    justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
    flex-flow: column wrap;
    padding: 0;
    }
    .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
    border-bottom: none;
    }
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1em;
    list-style: none;
    margin: 0; 
    background: rgb(42, 69, 78);
    color: white;
    font-size: 16px;
}
.fishCard__species {
    font-style: italic;
}