main {
    background-color: rgb(242, 248, 255);
}
h1 {
    text-align: center;
}

/* .maintenanceTips {
    text-align: center;
    font-size: 24px;
} */

aside {
    width: 40%;
    padding-left: .2rem;
    margin-left: .2rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #6a7f8a;
    color: #122e3b;
}

aside > p {
    margin: .5rem;
}

/* p {
    font-family: 'Fira Sans', sans-serif;
} */


/* this is the container that holds everthing to the left */
.containerLeft {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
}
/* parent container for fish box, travel quotes and travel locations */
.fishCardBox {
    display: block;
    margin: 5px;
    background-color: white;
    padding: 15px;
    border-radius: 2px;
    text-align: center;
}
/* this is the fish card */
.fishCard {
    display: block;
    padding: 10px;
    width: 300px;
}
/* this is the actual fish name text */
.fish__name {
    font-size: 24px;
    text-align: center;
}
.fish__image image--card {
    /* width: 200px;
    border-radius: 2px; */
    width: 100%;
    object-fit: scale-down;
    max-width: 300px;
}
/* this is for thr aside */
.containerRight {
    justify-content: end;
    flex-basis: 25%;
}
/* this is the section for the quotes */
.quoteCard {
    display: flex;
    justify-content: end;
    flex-basis: 25%;
    padding: 1em;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: rgb(44, 66, 78);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
/* this is the hover */
.navigation a:hover {
    background: #c26c26;
}

@media all and (max-width: 800px) {
    .navigation {
    justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
    flex-flow: column wrap;
    padding: 0;
    }
    .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
    border-bottom: none;
    }
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 2px;
    list-style: none;
    margin: 0; 
    background: rgb(42, 69, 78);
    color: white;
    font-size: 16px;
}
.fish__species {
    font-style: italic;
}
.containerLeft__travelQuotes {
    font-style: italic;
}
.locationCard {
    display: flex;
}
.header__img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}